<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520432007293-0ibh58tsrn76o40n36vpd5j8nots8rkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520432007293-0ibh58tsrn76o40n36vpd5j8nots8rkv</string>
	<key>API_KEY</key>
	<string>AIzaSyDP2dUS89oDQzbxea9s2ofh51_HYTAE540</string>
	<key>GCM_SENDER_ID</key>
	<string>520432007293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TabViewTest</string>
	<key>PROJECT_ID</key>
	<string>data-eye-217602</string>
	<key>STORAGE_BUCKET</key>
	<string>data-eye-217602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520432007293:ios:5fc0c6551189b2e3</string>
	<key>DATABASE_URL</key>
	<string>https://data-eye-217602.firebaseio.com</string>
</dict>
</plist>